
:root{
    --black: #000;
    --idfc-red:#DA3442;
    --white:#fff;
}
.nav-wrapper{
    background: linear-gradient(270deg, #1B1B1B 55.84%, #202020 96.63%);
}

.nav-wrapper .nav-sections ul{
    background: var(--black);
    border-radius: 24px;
    align-items: center;
}
.nav-wrapper .nav-sections ul li{
    margin: 0px;
    line-height: 2.5;
    font-size: 12px;
}
.nav-wrapper .nav-sections ul li a{
    padding: 2px 20px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    border-radius: 12px;
}
header nav{
    max-width: 1575px;
}
.nav-wrapper .nav-sections ul li a:hover{
    font-weight: inherit;
    background: rgba(157, 29, 39, 0.3);
    color: #FFFFFF;
}
.nav-wrapper .nav-sections ul:last-child{
    background-color: transparent;
}
header nav .nav-sections .nav-drop::after{
    color: var(--idfc-red);
    top: 7px;
}

.section.hero-section-wrapper{
    background : linear-gradient(94.07deg, #9B1E26 -17.35%, #000000 83.2% );
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    min-height: 225px;
}
header nav .nav-sections > ul > li > ul::before{
    display: none;
}
.nav-sections ul .nav-drop ul{
    background-color: var(--black);
}
.nav-wrapper .nav-sections ul:last-child .nav-drop ul{
    background-color: var(--black);
    border-radius: 0;
    color: var(--white);
}
header nav .nav-brand img{
    width: auto;
    height: 36px;
}
.nav-wrapper #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-sections em a{
    text-decoration: none;
    color: var(--idfc-red);
    background-color: var(--white);
    padding: 7px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
}
header nav a:any-link{
    color: var(--idfc-red);
}
.nav-sections em a:hover{
    background-color: var(--idfc-red);
    color: var(--white);
}
.nav-tools em a {
    text-decoration: none;
    color: var(--idfc-red);
    background-color: var(--white);
    padding: 7px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
}
.nav-tools em a:hover{
    background-color: var(--idfc-red);
    color: var(--white);
}
@media screen and (min-width:900px) {
    header nav .nav-sections ul{
        gap: 5px;
    }
}



.section hero-container{

    position: absolute;
    z-index: 999;

}

main .hero img {
    object-fit: cover;
    width: 34%;
    height: auto;
}

.section hero-section-wrapper columns-container{
        width: 100%;
    position: absolute;
    top: 0;

}
