:root {
    --black: #000;
    --idfc-red: #DA3442;
    --white: #fff;
    --light-white: #f2f2f2;
}

.nav-wrapper {
    background: linear-gradient(270deg, #1B1B1B 55.84%, #202020 96.63%);
}

.nav-wrapper .nav-sections ul {
    background: var(--black);
    border-radius: 24px;
    align-items: center;
}

.nav-wrapper .nav-sections ul li {
    margin: 0px;
    line-height: 2.5;
    font-size: 12px;
}

.nav-wrapper .nav-sections ul li a {
    padding: 2px 20px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    border-radius: 12px;
}

header nav {
    max-width: 1575px;
}

.nav-wrapper .nav-sections ul li a:hover {
    font-weight: inherit;
    background: rgba(157, 29, 39, 0.3);
    color: #FFFFFF;
}

.nav-wrapper .nav-sections ul:last-child {
    background-color: transparent;
}

header nav .nav-sections .nav-drop::after {
    color: var(--idfc-red);
    top: 7px;
}
.header .nav-wrapper nav .nav-sections:nth-child(3) ul li{
    margin-right: 10px;
}
.header .nav-wrapper nav .nav-sections:first-child ul li{
    margin-right: 0;
}
.header .nav-wrapper nav .nav-sections:nth-child(3) ul li:last-child{
    margin-right: 0;
}
.section.hero-section-wrapper {
    background: linear-gradient(94.07deg, #9B1E26 -17.35%, #000000 83.2%);
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    height: 137px;
    position: relative;
}

header nav .nav-sections>ul>li>ul::before {
    display: none;
}

.nav-sections ul .nav-drop ul {
    background-color: var(--black);
}

.nav-wrapper .nav-sections ul:last-child .nav-drop ul {
    background-color: var(--black);
    border-radius: 0;
    color: var(--white);
    z-index: -1;
}

header nav .nav-brand img {
    width: auto;
    height: 36px;
}

.nav-wrapper #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-sections em a {
    text-decoration: none;
    color: var(--idfc-red);
    background-color: var(--white);
    padding: 7px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
}

header nav a:any-link {
    color: var(--idfc-red);
}

.nav-sections em a:hover {
    background-color: var(--idfc-red);
    color: var(--white);
}

.nav-tools em a {
    text-decoration: none;
    color: var(--idfc-red);
    background-color: var(--white);
    padding: 7px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
}

.nav-tools em a:hover {
    background-color: var(--idfc-red);
    color: var(--white);
}

.section.hero-container {
    position: absolute;
    z-index: 999;
}

main .hero img {
    left: 0;
    position: absolute;
    top: 20%;
}

.section.hero-section-wrapper.columns-container {
    position: relative;
}

.columns-img-col picture {
    position: absolute;
    top: 0;
}

h2#a-world-class-bank-in-india {
    color: white;
    margin: 0;
}

h3#guided-by-ethics-powered-by-technology-and-a-force-for-social-good {
    color: white;
    margin: 0;
    max-width: 551px;
}

#guided-by-ethics-powered-by-technology-and-a-force-for-social-good {
    font-size: 28px;
}

#enjoy-zero-charges-on-28-commonly-used-savings-account-services {
    position: relative;
    color: var(--white);
}

main .section.secondary-nav-section-wrapper {
    font-size: 14px;
    height: 45px;
    display: flex;
    padding: 0 85px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(37, 36, 59, 0.1);
}

.secondary-nav-section-wrapper .default-content-wrapper ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
}

.secondary-nav-section-wrapper .default-content-wrapper {
    max-width: 1575px;
    margin: 0;
    display: flex;
}

.secondary-nav-section-wrapper .default-content-wrapper ul li {
    margin: 0;
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #FFFFFF;
    padding: 0 18px;
    color: var(--idfc-red);
    white-space: nowrap;
    cursor: pointer;
}

.secondary-nav-section-wrapper .default-content-wrapper ul li ul {
    display: none;
}

.secondary-nav-section-wrapper .default-content-wrapper ul li::after {
    content: "";
    border: 2px solid var(--idfc-red);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0 5px;
}

.secondary-nav-section-wrapper .default-content-wrapper ul li::after:hover {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.secondary-nav-section-wrapper .default-content-wrapper ul:nth-child(2) li::after {
    display: none;
}

.secondary-nav-section-wrapper .default-content-wrapper ul:nth-child(2) li {
    background: #000 url(https://www.idfcfirstbank.com/content/dam/idfcfirstbank/images/home-page-rewamp/IDFC-merger-1.gif) no-repeat -4px 0;
    background-size: 130px;
    box-shadow: 0px 0px 5px rgba(155, 30, 38, 0.8);
    border-radius: 13px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 15px 0 46px;
    white-space: nowrap;
}

.secondary-nav-section-wrapper .default-content-wrapper ul:nth-child(2) li a:any-link {
    text-decoration: none;
    color: var(--white);
}

.columns-wrapper:nth-child(2) code {
    font-size: 29px;
    color: white;
    position: absolute;
    left: 65%;
    max-width: 25%;

}

main .section.hero-section-wrapper {
    padding: 64px 0;
}

#tns1>.tns-item {
    width: calc(50%);
    min-width: calc(50%);
}

.columns-wrapper:nth-child(2) picture {

    position: absolute;
    top: 0;
    width: 51%;


}

.tns-controls {
    position: absolute;

    z-index: 99;
    right: 5%;
    top: 84%;
}

.tns-outer#tns1-ow .tns-controls button[data-controls="prev"]::after {
    content: "";
    border: solid var(--idfc-red);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border-radius: 0;
}

.tns-outer#tns1-ow .tns-controls button[data-controls="next"]::after {
    content: "";
    border: solid var(--idfc-red);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border-radius: 0;
}

.tns-outer#tns1-ow .tns-controls button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--white);
    color: var(--idfc-red);
    padding: 0;
}

.tns-outer#tns1-ow .tns-controls button[data-controls="prev"] {
    margin-right: 15px;
}

.tns-outer#tns1-ow {
    position: relative;
    z-index: -1;
}

.tns-outer#tns1-ow .tns-controls {
    position: absolute;
    top: auto;
    bottom: 0px;
}

.tns-outer#tns1-ow .tns-controls button:disabled {
    opacity: 0.5;
    background-color: var(--light-white);
}

.active-tab {
    background: linear-gradient(135deg, #9D1D27 0.12%, #6E0A0F 100%);
    font-weight: inherit;
    color: #FFFFFF;
    border-radius: 12px;
}

.section.secondary-nav-section-wrapper {
    position: sticky;
    top: 64px;
    z-index: 1;
    background-color: #fff;
}

.cards-card-body {
    background-color: white;
    padding: pu 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section.bank-card-slider-wapper {
    background: #9B1E26;
    border-radius: 24px;
    padding: 24px 15px 15px 15px;
    max-width: 1230px;
    margin: 32px auto;
}

.section.bank-card-slider-wapper .default-content-wrapper #ways-to-bank {
    color: #FFFFFF;
    font-weight: 500;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 23px;
}

.section.bank-card-slider-wapper .default-content-wrapper p {
    color: #FFFFFF;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 18px;
    padding: 5px 0px 16px 0px;
}

.section.bank-card-slider-wapper .button-container .button.primary {
    text-align: center;
    background-color: transparent;
    margin: 0;
}
.section.bank-card-slider-wapper .default-content-wrapper .button-container{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section.bank-card-slider-wapper .default-content-wrapper .button-container .button.primary::after{
    content: "";
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 5px;
}
.bank-card-slider-wapper .cards-wrapper .cards.block ul li .cards-card-image {
    width: 220px;
    height: 100px;
    display: flex;
    align-items: center;
}

.bank-card-slider-wapper .cards-wrapper .cards.block ul li .cards-card-image img {
    object-fit: contain;

}

.bank-card-slider-wapper .cards-wrapper .cards.block ul li {
    width: 31%;
    height: 100%;
    z-index: 1;
    border-radius: 20px;
    background: transparent;
}

.bank-card-slider-wapper .cards-wrapper .cards ul li:nth-child(1) {
    background: #F3DADC;
}

.bank-card-slider-wapper .cards-wrapper .cards ul li:nth-child(2) {
    background: #e8ecf9;
}

.bank-card-slider-wapper .cards-wrapper .cards ul li:nth-child(3) {
    background: #fff7e8;
}

.bank-card-slider-wapper .cards-wrapper .cards ul li:nth-child(4) {
    background: #f3dadc;
}

/* .bank-card-slider-wapper .cards-wrapper .cards.block ul li .cards-card-body {
    background: transparent;
} */

.bank-card-slider-wapper .cards-wrapper .cards.block ul li .cards-card-body {
    background-color: white;
    padding: 0px;
    box-shadow: none;
}

.bank-card-slider-wapper .cards-wrapper .cards.block ul li:nth-child(1) .cards-card-body p {
    color: #9B1E26;
    margin: 0px;
    font-size: 24px;
}

.bank-card-slider-wapper .cards-wrapper .cards.block ul li:nth-child(1) .cards-card-body p:nth-child(2) {
    color: #000;
    font-size: 14px;
}

.bank-card-slider-wapper .cards-wrapper .cards.block ul li:nth-child(2) .cards-card-body p {
    color: #1948aa;
    margin: 0px;
    font-size: 24px;
}

.bank-card-slider-wapper .cards-wrapper .cards.block ul li:nth-child(2) .cards-card-body p:nth-child(2) {
    color: #000;
    font-size: 14px;
}

.bank-card-slider-wapper .cards-wrapper .cards.block ul li:nth-child(3) .cards-card-body p {
    color: #d09f41;
    margin: 0px;
    font-size: 24px;
}

.bank-card-slider-wapper .cards-wrapper .cards.block ul li:nth-child(3) .cards-card-body p:nth-child(2) {
    color: #000;
    font-size: 14px;
}

.bank-card-slider-wapper .cards-wrapper .cards.block ul li:nth-child(4) .cards-card-body p {
    color: #9B1E26;
    margin: 0px;
    font-size: 24px;
}

.bank-card-slider-wapper .cards-wrapper .cards.block ul li:nth-child(4) .cards-card-body p:nth-child(2) {
    color: #000;
    font-size: 14px;
}


.header .nav-wrapper #nav .nav-tools p:last-child {
    display: none;
}

.bank-card-slider-wapper .cards-wrapper .cards.block ul li .cards-card-body {
    background-color: transparent;
}

.bank-card-slider-wapper .cards-wrapper .cards.block ul li {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.tns-horizontal.tns-subpixel{
    white-space: normal;
}
@media screen and (min-width:900px) {
    header nav .nav-sections ul {
        gap: 5px;
    }
}

@media screen and (max-width:768px) {
    main .section.secondary-nav-section-wrapper {
        display: none;
    }

    .nav-wrapper {
        background: var(--white);
    }
    .header .nav-wrapper nav .nav-sections:nth-child(3) ul li{
        margin-right: 0;
    }

    .nav-wrapper nav#nav .nav-tools p em a {
        font-size: 12px;
        font-weight: 600;
        border: solid 1px;
        padding: 8px 15px;
        margin-left: 15px;
        line-height: 1.2;
        background: var(--white);
        color: var(--idfc-red);
        border-radius: 25px;
    }

    header nav .nav-hamburger button {
        color: var(--idfc-red);
    }

    header nav .nav-hamburger {
        order: 3;
    }

    .nav-wrapper #nav[aria-expanded="true"] {
        flex-direction: column;
        padding: 0;
    }

    header nav[aria-expanded="true"] .nav-sections {
        flex-direction: column;
        justify-content: unset;
    }

    .nav-wrapper .nav-sections ul {
        display: flex;
        flex-wrap: wrap;
        border-radius: 0;
    }

    header nav[aria-expanded="true"] .nav-brand {
        flex-basis: auto;
        padding: 15px 15px 0 15px;
        display: flex;
        width: -webkit-fill-available;
    }

    header nav[aria-expanded="true"] .nav-hamburger {
        order: unset;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .nav-wrapper .nav-sections ul li {
        color: var(--black);
    }

    .nav-wrapper .nav-sections ul:last-child .nav-drop ul {
        display: none;
    }

    header nav[aria-expanded="true"] .nav-tools {
        display: none;
    }

    header nav[aria-expanded="true"] .nav-sections p em a {
        display: none;
    }

    .nav-wrapper .nav-sections ul:last-child {
        flex-direction: column;
        align-items: initial;
    }

    .nav-wrapper .nav-sections ul:last-child li {
        padding: 20px 15px;
        position: relative;
        background: #f3f3f3;
        border-bottom: 1px solid #d8d8d8;
        font-size: 14px;
        color: #222;
    }

    header nav[aria-expanded="true"] .nav-sections ul .nav-drop::after {
        content: "";
        border: 2px solid var(--idfc-red);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin: 0 5px;
        position: absolute;
        top: 29px;
        right: 20px;
    }

    h3#guided-by-ethics-powered-by-technologyand-a-force-for-social-good {
        font-size: 16px;
    }

    h2#a-world-class-bank-in-india {
        font-size: 20px;
        line-height: 1.2;
    }

    .header .nav-wrapper #nav .nav-tools p:last-child {
        display: block;
    }

    header nav[aria-expanded="false"] .nav-tools {
        display: flex;
    }

    #guided-by-ethics-powered-by-technology-and-a-force-for-social-good {
        font-size: 16px;
    }

    .hero-section-wrapper .columns-img-col picture {
        top: unset;
        left: -62px;
        z-index: -1;
    }

    .columns-wrapper:nth-child(2) picture {
        left: unset;
    }

    #enjoy-zero-charges-on-28-commonly-used-savings-account-services {
        font-size: 18px;
        line-height: 1.3;
    }

    main .section.hero-section-wrapper {
        padding: 50px 15px;
    }

    .hero-section-wrapper .columns-wrapper .columns div:nth-child(2) {
        max-width: 199px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        position: relative;
        left: 41%;
    }
}

/* Set the width and hide overflowing content */
.cards-wrapper {
  overflow: hidden; /* Hide overflowing content */
  position: relative;
  width: 100%; /* Adjust the width as needed */
}

.cards ul {
  display: flex; /* Display <li> items in a row */
  transition: transform 0.5s ease; /* Add smooth transition */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  list-style: none; /* Remove list bullet points */
}

.cards li {
  flex: 0 0 auto; /* Prevent <li> items from growing */
  margin-right: 16px; /* Adjust spacing between items */
  /* Add other styling for each <li> item */

  /* Remove margin for the last <li> element */
}

/* Optionally, you can add styles for navigation buttons */
.cards li:last-child {
  margin-right: 0; /* Remove margin for the last <li> element */
}
